:root {
    --speed: 5;
}

h1 {
    color: coral;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 100px;
}

.machine {
    background-color: crimson;
    border: dashed 3px white;
    height: 300px;
    width: 800px;
    margin-top: 250px;
    margin-left: 550px;
    display: flex;
    z-index: 5;
}

.slot {
    height: 250px;
    width: 250px;
    background-color: floralwhite;
    margin: 10px;
    margin-top: 25px;
    text-align: center;
    font-size: 80pt;
    line-height: 220px;
    overflow: hidden;
    z-index: 1;
}

#inpSpeed {
    height: 30pt;
    font-size: 25px;
    width: 40px;
}

.slot .value {
    z-index: 3;
    display: inline-block;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s/var(--speed));
}

@keyframes slotspin {
    0% {
        transform: translateY(-220px);
    }

    100% {
        transform: translateY(220px);
    }
}